@import "../../consts";

.profile-view__user-info__login {
  background: $colorLoginText;
  color: $colorLoginBg;
  padding: 3px 15px;
  border-radius: 3px;
  margin: 5px;

  font-family: 'Orbitron', sans-serif;
}