.game-view__controls{
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto auto;
}

@media (max-width: 1150px) {
    .game-view__controls {
        margin: 15px;
        left: 15px;
        right: 15px;
        flex-direction: row;
    }
}