.loader {
    border: 16px solid rgba(137, 76, 255, 0.56);
    border-radius: 50%;
    border-top: 16px solid #d7d7d7;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto auto;

    position: absolute;
    right: 0;
    left: 0;
    top: 35%;
}

.loader_parent {
    border: 16px solid rgba(137, 76, 255, 0.56);
    border-radius: 50%;
    border-top: 16px solid #d7d7d7;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 5px auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}