.menu-view {
    left: 30%;
    right: 30%;
    width: 650px;
    margin: auto auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}

@media (max-width: 540px) {
    .menu-view {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
        left: 15px;
        right: 15px;
    }
}