language: node_js

sudo: required

node_js:
  - 7

services:
  - docker

branches:
  only:
    - master

script:
  - docker login --username=_ --password=$(echo $API_KEY) registry.heroku.com
  - docker build -t registry.heroku.com/stepfighting/web .
  - docker push registry.heroku.com/stepfighting/web

