.progress-bar-table{
    text-align: center;
    display: flex;
    /*justify-content: space-around;*/
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto auto;
    padding: 50px 5px;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
}

@media (max-width: 1000px) {
    .progress-bar-table {
        left: 15px;
        right: 15px;
        margin: 0;
        padding: 0;
    }
}

.progress-bar-table h1{
    color: white;
}

.progress-bar-table .winner {

}

.progress-bar-table .loser {

}