.game-controls__button{
    padding: 5px;
    color: white;
    background-color: rgba(246, 35, 59, 0.86);
    border-radius: 3px;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    -webkit-transition: all 0.5s ease;
    cursor: pointer;
    width: inherit;
    text-align: center;
    margin: 5px 0 0 0;
}

.game-controls__button:hover {
    background-color: rgba(246, 94, 103, 0.86);
}

@media (max-width: 550px) {
    .game-controls__button {
        width: inherit;
        left: 15px;
        right: 15px;
    }
}
