.btn-play {
    margin: 15px auto;
    width: 180px;
    height: 180px;
    border: 2px solid var(--btn-border-color);
    padding: 10px;
    border-radius: 2000px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: var(--btn-text-color);
    display: table;
    background-color: var(--btn-bg-color);
    -webkit-transition: all 0.2s linear;
}

.btn-play:hover, .btn-play:focus {
    color: var(--btn-text-color-focus);
    border-color: var(--btn-border-color-focus);
    background-color: var(--btn-bg-color-focus);
    cursor: pointer;
}

.btn-play h1 {
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
}

.btn-play h1:hover, .btn-play h1:focus {
    cursor: pointer;
}

.close {
    color: rgba(0, 0, 0, 0.90);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--btn-bg-color);
    text-decoration: none;
    cursor: pointer;
}

.input {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 2px;
    -webkit-transition: all 0.5s ease;
}

.input:focus {
    border: 1px solid var(--btn-bg-color);
    height: 25px;
    outline-color: var(--btn-bg-color);

}

.input__error {
    border: 1px solid #c35465;
    background-color: #fff4f4;
    outline-color: #c35465;
}

.span__err{
    font-family: 'Cabin', sans-serif;
    text-align: left;
    color: #c35465;
    visibility: hidden;
}

.input__ok{
    border: 1px solid #32d3ac;
    background-color: #c9f7dd;
    outline-color: #32d3ac;
}

.btn {
    margin-top: 5px;
    padding: 5px;
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color);
    border: 1px solid var(--btn-border-color);
    border-radius: 2px;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    -webkit-transition: all 0.5s ease;
    cursor: pointer;
}

.link {
    font-family: 'Cabin', sans-serif;
    margin-top: 25px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    cursor: pointer;
    color: rgba(97, 97, 97, 0.91);
}

.link:hover {
    color: black;
}

.btn:hover {
    background-color: var(--btn-bg-color-focus);
    border-color: var(--btn-border-color-focus);
    color: var(--btn-text-color-focus);
}

/*list*/
.list-group {
    color: var(--btn-text-color);
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    text-align: left;
    list-style-type: none;
    padding: 0;
}

.list-group-item {
    border: 0 solid black;
    padding: 5px;
}

.badge {
    background-color: var(--btn-text-color);
    color: white;
    padding: 2px;
    margin: 2px;
    line-height: 1;
    border-radius: 5px;
    float: right;
}

.list-group li:nth-child(2n) {
    background-color: var(--bg-color);
}

/*--------------------*/
