:root{
    --bg-color: #081b32;
}

html {
    height: 100%;
}

body {
    background-size: 100%;
    background: var(--bg-color) /*url("../../img/menu/menubg.jpg")*/;
    margin: 0;
    /*box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.15) inset;*/
    height: 100%;
}

.fcontainer-row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
}

.fcontainer-column {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
}