html {
    height: 100%;
}

body {
    background: url("../../img/menu/menubg.jpeg") center;
    background-size: cover;
    margin: 0;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.15) inset;
    height: 100%;
}

.fcontainer-row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.fcontainer-column {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}