:root{
    --text-color-light: white;
    --text-color-dark: black;
}

.title-name{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 90px;
    color: var(--text-color-light);
    border-width: 5px;
    margin-bottom: 20px;
}

h2{
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text-color-dark);
}

h4, h3, h2{
    font-family: 'Orbitron', sans-serif;
    color: var(--text-color-dark);
}

.text{
    font-family: 'Cabin', sans-serif;
    color: var(--text-color-light);
}

.p__error{
    font-family: 'Cabin', sans-serif;
    margin: 0;
    text-align: left;
    color: var(--input-err-border-color);
}

