:root {
    --text-color-light: white;
    --text-color-dark: black;
}

.href__title-name {
    text-decoration: none;
}

.href__title-name h1 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
    color: var(--text-color-light);
    border-width: 5px;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text-color-light);
}

h4, h3, h2 {
    font-family: 'Orbitron', sans-serif;
    color: var(--text-color-light);
}

.text {
    font-family: 'Cabin', sans-serif;
    color: var(--text-color-light);
}

.p__error {
    font-family: 'Cabin', sans-serif;
    margin: 0;
    text-align: left;
    color: var(--input-err-border-color);
}

.text__profile-login {
    background: #c8ceff;
    color: #081b32;
    padding: 3px 15px;
    border-radius: 3px;
    margin: 5px;
}

.text__profile-item {
    margin: 5px 3px;
}
.text__profile-diamond{
    margin: auto auto;
}




