.game-controls {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto auto;
  padding: 5px;
  text-transform: uppercase;
  width: 500px;
}

@media (max-width: 1000px) {
  .game-controls {
    left: 15px;
    right: 15px;
    margin: 15px auto;
    padding: 0;
  }
}

@media (max-width: 500px) {
  .game-controls {
    width: 300px;
  }
}

.game-controls_actions {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto auto;
  border-radius: 3px;
  width: inherit;
}

@media (max-width: 1000px) {
  .game-controls_actions {
    left: 15px;
    right: 15px;
    margin: 0;
    padding: 0;
  }
}