.music-controls {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.music-controls_on{
  background: url('/src/img/soundon.png');
  background-size: cover;
}
.music-controls_off{
  background: url('/src/img/soundoff.png');
  background-size: cover;
}

@media (max-width: 800px) {
  /*.music-controls {
    top: 15px;
    left: 15px;
    bottom: inherit;
  }*/
}