:root {
    --link-text-color: rgba(243, 243, 243, 0.91);

    --link-text-color-focus: #894cff;
}

.leaderboard-view__link {
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    cursor: pointer;
    color: #ff66a2;
    margin: 15px 5px 5px;
    font-size: 21px;
}

.leaderboard-view__link:hover{
    color: #894cff;
}