.game-controls__action-button{
    height: 80px;
    width: 80px;
    margin: 5px;
    background-color: white;
    border-radius: 3px;
    line-height: 80px;
    font-family: 'Cabin', sans-serif;
    -webkit-transition: all 0.5s ease;
    cursor: pointer;
}

.game-controls__action-button_empty:hover{
    background-color: #ff9370;
    color: white;
}

.game-controls__action-button_fill:hover{
    background-color: rgba(47, 231, 58, 0.86);
    color: white;
}

.game-controls__action-button_empty{
    word-break: break-all;
    height: 80px;
    width: 200px;
    margin: 5px;
    background-color: white;
    border-radius: 3px;
    line-height: 80px;
    font-family: 'Cabin', sans-serif;
    -webkit-transition: all 0.5s ease;
    cursor: pointer;
}

.game-controls__action-button_fill{
    word-break: break-all;
    background-color: rgba(35, 169, 42, 0.86);
    color: white;
    height: 80px;
    width: 200px;
    margin: 5px;
    border-radius: 3px;
    line-height: 80px;
    font-family: 'Cabin', sans-serif;
    -webkit-transition: all 0.5s ease;
    cursor: pointer;
}