:root{
    --input-color: rgba(229, 229, 229, 0.75);
    --input-border-color: black;
    --input-outline-color: black;

    --input-err-border-color: #c35465;
    --input-err-bg-color: #fff4f4;
    --input-err-outline-color: #c35465;

    --input-ok-border-color: #32d3ac;
    --input-ok-bg-color: #c9f7dd;
    --input-ok-outline-color: #32d3ac;
}

.input {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid var(--input-border-color);
    border-radius: 2px;
    -webkit-transition: all 0.5s ease;
}

.input:focus {
    border: 1px solid var(--input-border-color);
    height: 25px;
    outline-color: var(--input-outline-color);
}

.input__error {
    border: 1px solid  var(--input-err-border-color);
    background-color: var(--input-err-bg-color);
    outline-color: var(--input-err-outline-color);
}

.input__ok{
    border: 1px solid  var(--input-ok-border-color);
    background-color: var(--input-ok-bg-color);
    outline-color: var(--input-ok-outline-color);
}