:root{
    --link-text-color: rgba(97, 97, 97, 0.91);

    --link-text-color-focus: black;
}

.link {
    font-family: 'Cabin', sans-serif;
    margin-top: 25px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    cursor: pointer;
    color: var(--link-text-color);
}

.link:hover {
    color: var(--link-text-color-focus);
}