:root{
    --list-text-color: white;

    --list-item-border-color: black;
    --list-item-text-color: white;

    --list-badge-bg-color: black;
    --list-budge-text-color: white;

    --list-item-child-bg-color1: rgba(137, 76, 255, 0.56);
    --list-item-child-bg-color2: rgba(161, 200, 255, 0);
}

.list-group {
    color: var(--list-text-color);
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    text-align: left;
    list-style-type: none;
    padding: 0;
}

.list-group-item {
    word-wrap: break-word;
    border: 0 solid var(--list-item-border-color);
    padding: 5px;
    color: var(--list-item-text-color);
}

.badge {
    background-color: var(--list-badge-bg-color);
    color: var(--list-budge-text-color);
    padding: 2px;
    margin: 2px;
    line-height: 1;
    border-radius: 5px;
    float: right;
}

.list-group li:nth-child(2n-1) {
    background-color: var(--list-item-child-bg-color1);
}
.list-group li:nth-child(2n) {
    background-color: var(--list-item-child-bg-color2);
}