/*Модальное окно в меню*/
:root{
    --modal-bg-color: rgba(0, 0, 0, .8);

    --modal-content-bg-color: #fefefe;
    --modal-content-border-color: black;
}


.modal {
    background-color: var(--modal-bg-color);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
}

.modal-content {
    background-color: var(--modal-content-bg-color);
    margin: 100px auto 15px;
    padding: 10px 20px 40px 20px;
    border: 1px solid var(--modal-content-border-color);
    border-radius: 20px;
    max-width: 80%;
}
