.profile__container{
    position: absolute;
    bottom: 0;
    width: 50%;
    max-height: 100%;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.23);
}

@media (max-width: 540px) {
    .profile__container {
        width: 100%;
    }
}