:root{
    --close-color: rgba(0, 0, 0, 0.90);

    --close-color-focus: rgba(87, 87, 87, 0.56);
}

.close {
    color: var(--close-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--close-color-focus);
    text-decoration: none;
    cursor: pointer;
}