.view {
    left: 50%;
    right: 50%;
    width: 478px;
    margin: auto auto;
    text-align: center;
}

.view__menu{
    left: 30%;
    right: 30%;
    width: 650px;
    margin: auto auto;
    text-align: center;
}

.view__profile{
    left: 30%;
    right: 30%;
    width: 750px;
    margin: auto auto;
    text-align: center;
}

@media (max-width: 540px) {
    .view, .view__profile, .view__menu {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
        left: 15px;
        right: 15px;
    }
}

.container__profile{
    margin: 15px;
}
