/*.game-choose-action__container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
}*/

.game-choose-action__sets-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}

.game-choose-action__action-set{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px 5px 0 5px;
}

.game-choose-action__action-hit-set{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    /*border: 1px solid black;*/
    border-radius: 3px;
    background-color: white;
    flex-grow: 1;
}

.action-set-controls{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    margin: 0 15px 15px 15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #e3e3e3;
    flex-grow: 1;
}

.game-choose-action__action-hit-set__column{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    flex-grow: 1;
}
.game-choose-action__action-hit-set__column h3{
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
}

.game-choose-action__action-block-set{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 3px;
    background-color: white;
    flex-grow: 1;
}