.profile-view__controllers{
    position: absolute;
    top: 15px;
    right: 15px;
    max-height: 100%;
    border-radius: 5px;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px auto;
}

@media (max-width: 800px) {
    .profile-view__controllers {
        position: inherit;
        height: 150px;
        flex-direction: row;
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
        left: 15px;
        right: 15px;
    }
}