.game-choose-action__button{
    padding: 5px;
    color: white;
    background-color: rgba(246, 35, 59, 0.86);
    border-radius: 3px;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    -webkit-transition: all 0.5s ease;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 5px;
}

.game-choose-action__button:hover{
    background-color: rgba(246, 94, 103, 0.86);
}

.game-choose-action__button_tabs{
    flex-grow: 1;
    padding: 5px;
    color: black;
    background-color: #c0c0c0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    -webkit-transition: all 0.5s ease;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 5px 5px 0 5px;
}
.game-choose-action__button_tabs_focused{
    background-color: white;
}

.game-choose-action__button_tabs:hover{
    /*background-color: #d0d0d0;*/
}

.game-choose-action__button_choose{
    flex-grow: 1;
    padding: 5px;
    color: black;
    background-color: #c0c0c0;
    border-radius: 3px;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    -webkit-transition: all 0.5s ease;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 5px;
}

.game-choose-action__button_choose_focused{
    background-color: rgba(35, 169, 42, 0.86);
    color: white;
}

.game-choose-action__button_choose:hover{
    background-color: rgba(47, 231, 58, 0.86);
    color: white;
}

@media (max-width: 550px) {
    .game-choose-action__button,
    .game-choose-action__button_tabs,
    .game-choose-action__button_choose{
        width: inherit;
        left: 15px;
        right: 15px;
    }
}
