@mixin choose-action-button($color, $background-color, $border-radius, $margin) {
  cursor: pointer;
  height: 30px;
  font-family: 'Cabin', sans-serif;
  -webkit-transition: all 0.5s ease;
  padding: 5px;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  color: $color;
  background-color: $background-color;
  border-radius: $border-radius;
  margin: $margin;
}

.game-choose-action__button {
  @include choose-action-button(white, rgba(246, 35, 59, 0.86), 3px, 5px);
  &:hover {
    background-color: rgba(246, 94, 103, 0.86);
  }
}

.game-choose-action__button_tabs {
  @include choose-action-button(white, #565458, 5px 5px 0 0, 5px 15px 0 15px);
}

.game-choose-action__button_choose {
  flex-grow: 1;
  @include choose-action-button(black, #c0c0c0, 3px, 5px);
  &:hover {
    background-color: rgba(47, 231, 58, 0.86);
    color: white;
  }
}

.game-choose-action__button_choose_focused {
  background-color: rgba(35, 169, 42, 0.86);
  color: white;
}

@media (max-width: 550px) {
  .game-choose-action__button,
  .game-choose-action__button_tabs,
  .game-choose-action__button_choose {
    width: inherit;
    left: 15px;
    right: 15px;
  }
}
