@import "../consts";

.leaderboard-view__list {
  color: $colorListText;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  text-align: left;
  list-style-type: none;
  padding: 0;
  li:nth-child(2n-1) {
    background-color: $colorListBg;
  }
  li:nth-child(2n) {
    background-color: $colorListBgNone;
  }
}
