@import "../../fonts/fonts";

$color-text: #ede40c;
$color-border: #ed000d;
$width-border: 6px;
$text-shadow: 10px 10px 40px #3e3a3b;

.main-title {
  text-decoration: none;
  h1 {
    text-align: center;
    text-shadow: 6px 0 0 $color-border, -6px 0 0 $color-border, 0 6px 0 $color-border, 0 -6px 0 $color-border;
    font-family: mainFont, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
    color: $color-text;
    border-width: 5px;
    margin-bottom: 20px;

    &:hover{
      text-shadow: 7px 0 0 $color-border, -7px 0 0 $color-border, 0 7px 0 $color-border, 0 -7px 0 $color-border;
    }
  }
}

@media screen and (max-width: 500px){
  .main-title{
    h1{
      font-size: 50px;
    }
  }
}