.main-title {
    text-decoration: none;
}

.main-title h1 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
    color: white;
    border-width: 5px;
    margin-bottom: 20px;
}
.main-title h1:hover {
    color: white;
    border-color: white;
    text-shadow: 10px 10px 40px #6e47ff;
}