@import "../consts";
@import "../../../fonts/fonts";

.form__button {
  margin-top: 5px;
  padding: 5px;
  color: $colorButtonTextForm;
  background-color: $colorButtonBgForm;
  border: 3px solid $colorButtonBorder;
  border-radius: 3px;
  text-decoration: none;
  font-family: mainFont, sans-serif;
  -webkit-transition: all 0.5s ease;
  cursor: pointer;

  &:hover {
    background-color: $colorButtonFocusBg;
    border-color: $colorButtonFocusBorder;
    color: $colorButtonFocusTextForm;
  }
}

.form__vk-button{
  margin-top: 15px;
  padding: 5px;
  color: white;
  background-color: #507299;
  border-radius: 15px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: all 0.5s ease;
  cursor: pointer;

  &:hover {
    background-color: #597fab;
  }
}