.menu-view__controls-block__button {
    text-decoration: none;
    width: 150px;
    height: 150px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 2000px;
    text-align: center;
    margin: 5px auto;
    font-family: 'Orbitron', sans-serif;
    color: white;
    display: table;
    background-color: rgba(131, 73, 246, 0.86);
    -webkit-transition: all 0.2s linear;
}

.menu-view__controls-block__button:hover,
.menu-view__controls-block__button:focus {
    color: #191919;
    border-color: white;
    background-color: white;
    cursor: pointer;
    text-shadow: 10px 10px 40px #6e47ff;
}

.menu-view__controls-block__button h1 {
    font-size: 26px;
    display: table-cell;
    vertical-align: middle;
}

.menu-view__controls-block__button h1:hover,
.menu-view__controls-block__button h1:focus {
    cursor: pointer;
}
