.game-view__game-area {
  border-radius: 3px;
  max-width: 100%;
}

@media (max-width: 1000px) {
  .game-view__game-area {

  }
}

.game-view__game-area_info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9999;
}