.game-result-table{
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto 0;
    padding: 50px 5px;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;

}

@media (max-width: 1000px) {
    .game-result-table {
        left: 15px;
        right: 15px;
        margin: 0;
        padding: 0;
    }
}

.game-result-table > h1{
    color: #32d3ac;
    font-size: 50px;
}

.game-result-table__my-info {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto 0;
    background-color: #991b4e;
    border-radius: 3px;
}
.game-result-table__my-info h1{
    color: #32d3ac;
    margin: 1px;
}

.game-result-table__my-info h2 {
    color: white;
    margin: 3px;
}

.game-result-table__opponent-info {
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 50px;
}

.game-result-table__opponent-info h1{
    color: #32d3ac;
    margin: 1px;
}

.game-result-table__opponent-info h4 {
    color: #a2a2a2;
    margin: 3px;
}


.game-result-table__button{
    padding: 15px;
    color: white;
    background-color: rgba(246, 35, 59, 0.86);
    border-radius: 3px;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    -webkit-transition: all 0.5s ease;
    cursor: pointer;
    width: 200px;
    text-align: center;
    margin: 15px auto;
}

.game-result-table__button:hover {
    background-color: rgba(246, 94, 103, 0.86);
}

@media (max-width: 550px) {
    .game-result-table__button {
        width: inherit;
        left: 15px;
        right: 15px;
    }
}