.game-view__controls__button{
    padding: 5px;
    color: white;
    background-color: rgba(131, 73, 246, 0.86);
    border: 1px solid black;
    border-radius: 2px;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    -webkit-transition: all 0.5s ease;
    cursor: pointer;
    width: inherit;
    text-align: center;
    margin: 0 0 0 5px;
}

.game-view__controls__button:hover {
    background-color: white;
    border-color: white;
    color: #191919;
}

@media (max-width: 550px) {
    .game-view__controls__button {
        width: 100%;
        left: 15px;
        right: 15px;
        margin: 5px 0 0 0;
    }
}
